<!DOCTYPE html>
<html>

<head>
    <title>Causa Django</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <header>
        <nav>
            <a hx-get="/" hx-target="#app" hx-push-url="true">Home</a>

            <a hx-get="/about/" hx-target="#app" hx-push-url="true">About</a>

            <a hx-get="/blog/" hx-target="#app" hx-push-url="true">Blog</a>

            <a hx-get="/contact/" hx-target="#app" hx-push-url="true">Contact</a>
        </nav>
    </header>

    <main id="app">
        {% include template %}
    </main>

    <footer>Developed by WPE: https://wpe.net.pe</footer>
</body>

</html>